<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="20260AustinYang.3836E5B21B5" Version="1.1.0.0" Publisher="CN=9B775430-7E4B-4070-B2BE-9B74105BA184" />
  <Properties>
    <DisplayName>且行且烹饪</DisplayName>
    <PublisherDisplayName>Austin Yang</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="且行且烹饪.App">
      <m2:VisualElements DisplayName="且行且烹饪" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="且行且烹饪" ForegroundText="light" BackgroundColor="#464646">
        <m2:SplashScreen Image="Assets\initial.jpg" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>